* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: radial-gradient(rgb(255, 155, 158), rgb(154, 81, 205));
}

/* 전체 컨테이너를 가운데로 정렬 */
.whole {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 700px;
  display: flex;
  border: 10px solid black;
  padding: 30px;
  justify-content: space-between;
}

/* 메인 컨테이너 설정 */
.container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* 메인 헤더 영역 설정 */
.container .header {
  display: flex;
  font-size: 25px;
  justify-content: space-between;
}

/* 입력 영역 설정 */
.container .inputSection {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

/* 알람 컨테이너 설정 */
.items {
  width: 200px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 알람 목록 컨테이너 설정 */
.items .todoList {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* 각 알람 디자인 설정 */
.items .todoList .alertItem {
  display: flex;
  justify-content: space-between;
}
